@import "../../../App.css";

/*
=============== 
Hero
===============
*/
/* underline added to globals */

.hero-info .underline {
  margin-bottom: 1rem;
  margin-left: 0 !important;
}

.hero-info h1 {
font-size: 2.5rem;
}

.hero {
  background: var(--clr-primary-10);
}
.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}
.hero-info h4 {
  color: var(--clr-grey-5);
}
.hero-icons {
  justify-items: start;
}
.hero-btn {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.social-icons {
  margin-bottom: 1.25rem;
}

.hero-photo {
  /* max-width: 25rem;
  max-height: 30rem; */
  object-fit: cover;
  border-radius: var(--radius);
  position: relative;
  -webkit-transform: translateZ(500px);
}

.hero-img {
  position: relative;
}

.hero-info {
  min-width: 80%;
}

@media screen and (min-width: 800px) {
  .hero-img {
    display: block;
    position: relative;
    order: 2;
  }
  .hero-center {
    grid-template-columns: 1fr 2.5fr;
    /* grid-template-columns: 1fr 1fr; */
  }
  .hero-info {
    min-height: 40%;
  }
}

/* Static 1 */

.landing-image-container {
  padding: 1rem;
  padding-top: 2rem;
  display: block;
  position: relative;
}

.static-container {
  position: absolute;
  width: 30%;
  -webkit-perspective: 500px;
  perspective: 100vw;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  top: 42%;
  left: 8.5%;
  -webkit-transform: scaleX(1.2);
  transform: scaleX(1.1) scaleY(0.9);
}

.static_1 {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(25deg);
  transform: rotateY(25deg);
  opacity: 1;
}

/* Gameplay 1 */

.static-container.active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  top: 46%;
  opacity: 1;
}

.selector-screen-1 {
  width: 30%;
  height: 33%;
  position: absolute;
  z-index: 5;
  top: 42%;
  left: 8%;
}

.selector-screen-1:hover {
  cursor: pointer;
}

.static-container-2 {
  position: absolute;
  width: 31%;
  /* border: 1px solid blue; */
  -webkit-perspective: 500px;
  perspective: 500px;
  -webkit-perspective-origin: 80% 70%;
  perspective-origin: 80% 70%;
  top: 26%;
  left: 50%;
  /* transform: scaleX(0.9); */
  /* transform: scaleY(1.05); */
}
.static-container-2.active {
  top: 26%;
  -webkit-perspective: 1000px;
  perspective: 1000px;

  -webkit-perspective-origin: 80% 100%;

  perspective-origin: 80% 100%;
  -webkit-transform: rotateY(-30deg);

  transform: scaleY(1.1) scaleX(1.1);
  -webkit-transform: translateZ(100px) rotateY(-39deg) scaleY(1.1) scaleX(1.2);
}

.static_2 {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
  opacity: 1;
}

.static-container-3 {
  position: absolute;
  width: 30%;
  height: 50%;
  /* border: 1px solid blue; */
  -webkit-perspective: 50vw;
  perspective: 50vw;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 90%;
  top: 10%;
  left: 13.7%;
  /* transform: translateZ(1000px); */
}

@media screen and (min-width: 800px) {
  .static-container-3 {
    -webkit-perspective: 75vw;
    perspective: 35vw;
  }
  .static-container-3.active {
    top: 7%;
    -webkit-perspective: 1000px;
    perspective: 50vw;

    -webkit-perspective-origin: 80% 100%;

    perspective-origin: 80% 100%;

    transform: translateZ(100px) rotateY(-41deg) scaleY(0.9) scaleX(1.2);
  }
}

.static-container-3.active {
  top: 7%;
  -webkit-perspective: 1000px;
  perspective: 50vw;

  -webkit-perspective-origin: 80% 100%;

  perspective-origin: 80% 100%;

  transform: translateZ(100px) rotateY(-39deg) scaleY(0.9) scaleX(1.2);
}
@media screen and (min-width: 800px) {
  .static-container-3.active {
    top: 7%;
    -webkit-perspective: 1000px;
    perspective: 30vw;

    -webkit-perspective-origin: 80% 100%;

    perspective-origin: 80% 100%;

    transform: translateZ(100px) rotateY(-30deg) scaleY(0.9) scaleX(1.1);
  }
}
@media screen and (min-width: 1170px) {
  .static-container-3.active,
   .static-container-3 {

    -webkit-perspective: 1000px;
    perspective: 500px;


  }
}

.static_3 {
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(20deg) scaleX(1.1);
  transform: rotateY(18deg) scaleX(1);
}

.selector-screen-3 {
  opacity: 0;
  width: 30%;
  height: 30%;
  position: absolute;
  z-index: 5;
  top: 6%;
  left: 12.5%;
}

.selector-screen-3:hover {
  cursor: pointer;
}

.selector-screen-2 {
  width: 28%;
  height: 32%;
  position: absolute;
  z-index: 5;
  top: 24%;
  left: 51%;
  z-index: 5;
}

.selector-screen-2:hover {
  cursor: pointer;
}

/* Typywritter */

.Typewriter {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
  font-weight: 600;
  color: var(--clr-grey-5);
}





/* Social icons */

  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }

/* Selector anchor */

.selector-anchor {
  display: block;
  width: 100%;
  height: 100%;
}

.hero-piotr {
  color: var(--clr-primary-5);
}

/* email */

.email {
  display: block;
  color: var(--clr-primary-4);
  font-family: var(--ff-primary);
  font-size: 1.2rem;
}

.email:hover {
  color: var(--clr-primary-6);
}

/* Contact Form */

/* =============== Contact ================*/

.contact-form {
  position: absolute;
  transform: translateZ(2000px);
  z-index: 1000;
}

.contact-form,
.contact-info {
  margin: 1rem 0;
}

.contact-item {
  margin-bottom: 1.75rem;
}

.contact-title {
  color: var(--clr-primary);
  font-weight: 400;
}

.contact-text {
  text-transform: uppercase;
}

.contact-form {
  background: var(--clr-white);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 35rem;
}

.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-form h3 {
  padding-top: 1.25rem;
  color: var(--clr-grey-5);
}

.form-group {
  padding: 1rem 1.5rem;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  margin-bottom: 1.25rem;
  background: white;
  border-radius: var(--radius);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.form-control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-grey-1);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}

@media screen and (min-width: 992px) {
  .contact-form,
  .contact-info {
    float: left;
    width: 50%;
  }
}